dn: cn=config
objectClass: olcGlobal
cn: config
olcReferral: ldap://root.openldap.org
olcConfigDir: /config/databases/slapd.d/
olcPidFile: /run/openldap/slapd.pid
olcLogFile: /config/log/slapd.log
olcLogLevel: 0
olcThreads: 2
olcTLSCipherSuite: HIGH:-SSLv2:-SSLv3
olcTLSCACertificateFile: /config/keys/cert.crt
olcTLSCertificateFile: /config/keys/cert.crt
olcTLSCertificateKeyFile: /config/keys/cert.key
olcTLSVerifyClient: never
olcTLSProtocolMin: 3.3
olcSecurity: simple_bind=128
olcLocalSSF: 71
olcRequires: bind
olcDisallows: bind_anon

dn: cn=schema,cn=config
objectClass: olcSchemaConfig
cn: schema

include: file:///etc/openldap/schema/core.ldif
include: file:///etc/openldap/schema/cosine.ldif
include: file:///etc/openldap/schema/inetorgperson.ldif
include: file:///etc/openldap/schema/nis.ldif

dn: cn=module,cn=config
cn: module
objectClass: olcModuleList
objectClass: top
olcModuleLoad: back_mdb.so
olcModuleLoad: memberof.so
olcModuleLoad: ppolicy.so
olcModuleLoad: refint.so

dn: olcDatabase=frontend,cn=config
objectClass: olcDatabaseConfig
olcDatabase: frontend
olcAccess: to * by * read
olcMonitoring: FALSE

dn: olcDatabase=config,cn=config
objectClass: olcDatabaseConfig
olcDatabase: config
olcRootPW: ${LDAP_CONFIG_PASSWORD}
olcAccess: to * by * none

dn: olcDatabase=mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: mdb
olcDbMaxSize: 1073741824
olcSuffix: ${LDAP_DOMAIN}
olcRootDN: cn=${LDAP_ROOT},${LDAP_DOMAIN}
olcRootPW: ${LDAP_ROOT_PASSWORD}
olcDbDirectory: /config/databases/openldap-data
olcAccess: to * by dn.exact=gidNumber=${PGID}+uidNumber=${PUID},cn=peercred,cn=external,cn=auth manage by * break
olcAccess: to attrs=userPassword,shadowLastChange by self write by dn="cn=${LDAP_ROOT},${LDAP_DOMAIN}" write by anonymous auth by * none
olcAccess: to * by self read by dn="cn=${LDAP_ROOT},${LDAP_DOMAIN}" write by dn="cn=${LDAP_BIND_USER},${LDAP_DOMAIN}" read by * none
olcDbIndex: uid eq
olcDbIndex: mail eq
olcDbIndex: memberOf eq
olcDbIndex: objectClass eq
olcDbIndex: entryCSN eq
olcDbIndex: entryUUID eq

dn: olcOverlay=memberof,olcDatabase={1}mdb,cn=config
objectClass: olcConfig
objectClass: olcMemberOf
objectClass: olcOverlayConfig
objectClass: top
olcOverlay: memberof
olcMemberOfDangling: ignore
olcMemberOfRefInt: TRUE
olcMemberOfGroupOC: groupOfNames
olcMemberOfMemberAD: member
olcMemberOfMemberOfAD: memberOf

dn: olcOverlay=refint,olcDatabase={1}mdb,cn=config
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcRefintConfig
objectClass: top
olcOverlay: refint
olcRefintAttribute: owner
olcRefintAttribute: manager
olcRefintAttribute: uniqueMember
olcRefintAttribute: member
olcRefintAttribute: memberOf
